In [4]:
import pickle
import pandas as pd
import numpy as np

#     optuna_hyperparameters_per_dataset.py
#  -> analysis_hyperparameters.ipynb
#  -> benchmark_best_hyperparameters.py
#  -> analysis_hyperparameters_runs.ipynb

In [5]:
df = pd.read_pickle("dataframes/df_runs_with_hyperparameters_per_dataset.pd")

In [6]:
df

             dataset  acc_train   acc_val  std_train   std_val
0      cars_input.pd   0.907697  0.890828   0.021506  0.024857
1  students_input.pd   0.518069  0.449992   0.012877  0.039600